
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12">
        <app-search (newFoodEvent)="search($event)"> </app-search>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <app-categories (newItemEvent)="foods($event)"></app-categories>
        </div>
          <app-food-list [isAdmin]='isAdmin' [isClient]='isClient' [itens]="itens" [itens]= "itemSearch"></app-food-list>
        
        <div class="col-sm-12">
            <div class="d-flex justify-content-end">
                <app-cart></app-cart>
            </div>
        </div>
    </div>

</div>

