
<mat-toolbar class="header mat-elevation-z4">
</mat-toolbar>

<ul class="nav nav-tabs justify-content-center" role="tablist" style="margin-top: 33px;">
    <li class="nav-item">
        <a class="nav-link" role="tab" [routerLink]="['/']">Home</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/food-form']" role="tab">New Food</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/']" role="tab">Admin</a>
    </li>
</ul>
