<div class="row">
    <div *ngFor='let item of itens'>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ item.title }}</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: {{ item.price }}</li>
                    <li class="list-group-item">Cuisine: {{ item.cuisine }}</li>
                </ul>
                <div class="card-body" *ngIf="isClient === true">
                    <a class="btn btn-outline-secondary" (click)="addToCart(item)" role="button">
                        <fa-icon [icon]="faCartPlus"></fa-icon>
                    </a>
                </div>
                <div class="card-body" *ngIf='isAdmin === true'>
                    <a class="btn btn-outline-secondary" routerLink='/admin/food-form/{{ item.title }}' role="button">
                        <fa-icon [icon]="faPen"></fa-icon>
                    </a>
                    <a class="btn btn-outline-secondary" (click)="deleteAdmin(item)" role="button"
                        style="margin-left: 20px;">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>