
<div  class="col-sm-12">
<div class="d-flex justify-content-center">
<div class="btn-group flex-wrap" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-secondary" (click)= "exibirTabela('all')" name="all">
        <fa-icon [icon]="faBars"></fa-icon> All
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)= "exibirTabela('chinese')">
        <img src="assets/images/comida-chinesa.png"id="image">Chinese
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)= "exibirTabela('burgers')">
        <fa-icon [icon]="faHamburger"></fa-icon> Burgers
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)= "exibirTabela('salad')">
        <fa-icon [icon]="faAppleAlt"></fa-icon> Salad
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)= "exibirTabela('beverage')">
        <fa-icon [icon]="faCocktail"></fa-icon> Beverage
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)= "exibirTabela('pizza')">
        <fa-icon [icon]="faPizzaSlice"></fa-icon> Pizza
    </button>
</div>
</div>

