.container{
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
max-width: 4000px;
}

.card-list{
    display: flex;
    max-width: 4000px;
    flex-wrap: wrap;
    padding: 40px;
}

@media (min-width: 500px) and (max-width: 768px){
     .card-list{
        padding: 0px;
     }
    }