<div class="container" style="margin-top: 45px;">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" (input)="atualizaDados($event, 'title')" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Title">
        </div>
        <div class="form-group" (input)="atualizaDados($event, 'cuisine')">
            <select class="form-control">
                <option>burgers</option>
                <option>chinese</option>
                <option>salad</option>
                <option>beverage</option>
                <option>pizza</option>

            </select>
            <small id="emailHelp" class="form-text text-muted">Select food category.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Price</label>
            <input type="text" class="form-control" (input)="atualizaDados($event, 'price')" placeholder="Price">
        </div>

        <button type="submit" class="btn btn-primary" (click)="salvarDados()" data-toggle="modal"
            data-target="#modalSalvar">Salvar</button>
    </form>



    <div class="modal fade" id="modalSalvar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    Food saved successfully !
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

                </div>
            </div>
        </div>
    </div>


</div>